#video{
  width: 890px;
  height: 500px;
}

.video1{
  text-align: center; 
}

#tituloA{
  margin-top: 50px;
  margin-left: 60px;
  padding: 0px;
  text-align: justify
}

#textoA{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 25px;
  margin: 0px 40px;
  text-align: justify;
}

section{
  padding: 1px;
  margin-left: 40px;
  margin: 0px 40px;
  text-align: justify;
}

#agradecimiento {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgb(225, 240, 225);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 15px;
  z-index: 1000;
  padding: 50px;
}

#fondoClaro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 500;
}

#cerrarAgradecimiento {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#contenedor {
  position: relative;
}