#barraycarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#carrito{
    cursor: pointer;
    position: relative;
    float: right;
    color: black;
    border-collapse: collapse;
    margin: none;
    background-color: #4CAF50;
    transition: background-color 0.3s ease-in-out;
    border-radius: 15px;
    width: 75px;
}

#carrito:hover{
    opacity: 0.6;
    background-color:rgb(132, 234, 136);
}

#carrito td{
    cursor: pointer;
    width: 30px;
    height: 32px;
}

#iconoCarrito {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#contadorCarrito {
    background-color: black;
    color: white;
    border-radius: 25%;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#carritoVentana {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
}

#carritoVentana ul {
    list-style: none;
    padding: 0;
}

#carritoVentana li {
    margin-bottom: 10px;
    color: black;
}

#carritoTotal {
    color: black;
}

#botonPagar{
    padding: 15px;
    width: 250px;
    font-size: 16px;
}

#cerrarCarrito {
    cursor: pointer;
    color: black;
}

#vaciarCarrito {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

#vaciarCarrito:hover {
    font-weight: bold;
}

li p:hover {
    color: gray;
}