body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Quicksand";
}
section{
  padding: 1px;
  margin-left: 40px;
  margin: 0px 40px;
  text-align: justify;
}

.logo{
  height: 100px;
  width: 100px;
}

#titulo{
  font-family: "Indie Flower";
}

header > div >  p{
  font-family: "Indie Flower";
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
}
  
header > img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
}

.container {
  width: 100%;
}

aside{
  margin-left: 150px;
}

aside ul {
  list-style: none;
  display: flex;
}

aside ul li {
  margin-right: 20px;
}

aside a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}


h2 {
  color: #333;
}

footer {
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  bottom: 0;
  position: relative;
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.menu{
  transition: text-shadow 0.2s ease-in-out;
}

.menu:hover{
  text-shadow: 2px 2px 0 rgb(0, 70, 0);
}

label{
  padding-right: 40px;
}

input:not(#cantidad){
  min-width: 150px;
  margin-bottom: 10px;
}

.arriba {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

